# ── AWS ─────────────────────────────────────────────────────────────────────
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_DEFAULT_REGION=ap-northeast-2
S3_BUCKET_NAME=your_bucket

# ── API Keys ─────────────────────────────────────────────────────────────────
DART_API_KEY=your_dart_key
KIPRIS_API_KEY=your_kipris_key
BIZINFO_API_KEY=your_bizinfo_key
GEMINI_API_KEY=your_gemini_key
GEMINI_MODEL=gemini-2.5-flash

# ── MLflow ───────────────────────────────────────────────────────────────────
MLFLOW_TRACKING_URI=http://mlflow:5000

# ── Airflow ──────────────────────────────────────────────────────────────────
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__BROKER_URL=redis://:@redis:6379/0
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth
